# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet fun
	function ${1}(${2}) {
		${3}
	}
snippet f
	function ${1}(${2}) {
		${3}
	}
snippet l
	debugLog(${1});
snippet post
	ajax.post('${1}', {act: '${2}'}, {
		onDone: function(${3}) {
			${4}
		}
	})
